QFrame {
	background: #EBEBEB;
}

QWidget, QPushButton, QMenu {
	color: #404040;
}

QWidget:disabled, QPushButton:disabled {
	color: #9C9C9C;
}

QLabel {
	background: transparent;
}

QComboBox,
QLineEdit,
QTreeView,
QListView {
	background: #FCFCFC;
	border: 1px solid #BFBFBF;
}

QComboBox,
QLineEdit {
	padding: 2px 4px;
}

QComboBox:on,
QComboBox:on::drop-down {
	background: #FCFCFC;
}

QPushButton {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:0.5 #F5F5F5, stop:1 #E0E0E0);
	border: 1px solid #D6D6D6;
	border-radius: 0;
	padding: 3px 7px;
}


QScrollBar:horizontal::groove{
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #BFC1C9, stop:.5 #CED0D9, stop:1 #D3D5DE);
}

QScrollBar:handle,
QScrollBar:add-line,
QScrollBar:sub-line {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F8F9FA, stop:.5 #F0F1F2, stop:1 #E9EAEB);
	border: 1px solid #BFC6D6;
}


QMenu {
	background: #F0F0F0;
}

QMenu::item {
	background: #F2F2F2;
}

QMenu::item:selected {
	background: #D3E5F2;
}


QToolBar {
	border: none;
}

QSlider:vertical {
	width: 16px;
}

QSlider::groove:vertical {
	background: #DADFE3;
	width: 18px;
	background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0.0 #C2C9CF, stop:0.5 #D7DCE0, stop:1.0 #EBEEF0);
}

QSlider::handle:vertical {
	height: 12px;
	width: 14px;
	margin: 0 1px;
	background: #E8EDF2;
	border: 1px solid #A6A8AB;
	border-radius: 0;
}


QFrame {
}


QTableView,
QTableView::item {
	background: #F5F5F5;
}

QTableView {
	gridline-color: #CCCCCC;
}

QHeaderView::section {
	background: #F2F2F2;
	font-size: 10pt;
	text-align: center;
}

QTableView::item {
	color: #000;
}



QtListButton, #b_name {
	font-family: "Liberation Sans Narrow", "Nimbus Sans Narrow", "Ubuntu Condensed", "sans serif";
	font-size: 10pt;
	font-weight: bold;
	padding: 2px 4px;
	color: #757575;
}

QtListButtonMenu::item {
	font-size: 10pt;
	padding: 3px 4px 3px 4px;
}



#scrl_ports, #frm_tracks  {
	border: none;
}

#frm_ports {
	background: #DBDBDB;
}

#frm_track_widget {
	border: 0.5px solid #DDD;
}


QFrame#frm_port_widget_top QLabel {
	background: #444;
	color: #FFF;
	font-weight: bold;
}

QFrame#port1 #frm_port_widget_top QLabel {
	background: #C44545;
}

QFrame#port2 #frm_port_widget_top QLabel {
	background: #7A7CEB;
}

QFrame#port3 #frm_port_widget_top QLabel {
	background: #91BDA4;
}

QFrame#port4 #frm_port_widget_top QLabel {
	background: #C2B14E;
}

QFrame#port5 #frm_port_widget_top QLabel {
	background: #C477D1;
}

QFrame#port6 #frm_port_widget_top QLabel {
	background: #00435C;
}

QFrame#port7 #frm_port_widget_top QLabel {
	background: #804A00;
}

QFrame#port8 #frm_port_widget_top QLabel {
	background: #460087;
}

QFrame#port9 #frm_port_widget_top QLabel {
	background: #00635C;
}

QFrame#port10 #frm_port_widget_top QLabel {
	background: #616100;
}



QPushButton#b_name:checked {
	background: #C8DCEB;
	border: 1px solid #0083DB;
}

QPushButton#b_mute:checked {
	background: #93E6E2;
}

QPushButton#b_solo:checked {
	background: #FA9696;
}



QFrame#frm_channels QPushButton {
	font-size: 8pt;
	background: #EBEBEB;
	color: #888;
	border: 1px solid #CCC;
	border-radius: 0;
	margin: 0;
}

QFrame#frm_channels QPushButton:checked {
	background: #85D911;
	color: #FFF;
}


#frm_track_widget:selected {
	border: 1px solid red;
}


#b_rollup {
	margin: 1px;
}

#frm_volume QLabel,
#frm_wet QLabel {
	font-size: 10px;
}



SmallSlider, SmallBalanceControl {
	background-color: #EBEDEB;
}

SmallSlider::chunk, SmallBalanceControl #inner_bar {
	background-color: #B2C1DB;
}


SmallSlider {
	font-size: 9pt;
	border-radius: 0;
	text-align: center;
	height: 20px;
}


SmallBalanceControl {
	border: 1px solid #CCCCCC;
}

SmallBalanceControl QLabel {
	font-size: 12px;
	color: #525252;
	margin: 4px;
}


BalanceControlWidget {
	font-size: 9pt;
	color: #1F1F1F;
}


LoadIndicatorBar {
	background: #E8E8E8;
}

LoadIndicator QLabel {
	color: #EDE7A6;
}


#frm_statusbar QLabel,
#frm_statusbar QPushButton {
	font-size: 12px;
}



PluginDialog, PluginDialog * {
	background: #F7F7F7;
	color: #404040;
}

PluginDialog #param_category {
	font-size: 11pt;
}

PluginDialog QCheckBox::indicator {
	border: 1px solid #8F8F8F;
	border-radius: 8px;
	height: 16px;
	width: 16px;
}

PluginDialog QCheckBox::indicator:checked {
	border-color: #0073C9;
	background: #97B4C9;
}

PluginDialog QSlider {
	min-width: 100px;
	height: 20px;
}

PluginDialog QSlider::groove {
	height: 20px;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0.0 #7993A6, stop:0.25 #97B4C9, stop:0.75 #97B4C9, stop:1.0 #ADC7D9);
}

PluginDialog QSlider::handle {
	height: 20px;
	margin: 1px;
	width: 16px;
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #FCFCFC, stop:0.25 #E6E6E6, stop:0.75 #E6E6E6, stop:1 #D6D6D6);
}



#lst_sfzs::item {
}


#score_info_dialog #tbl,
#score_info_dialog #tbl::item {
	background: palette(window);
}

#sfz_paths_dialog QLabel {
	background: #FFF;
	padding: 4px;
}


QFileDialog * {
	font-size: 10pt;
}

/* Plugin list shown by Carla */

#PluginListDialog #tableWidget {
	background-color: #EBEBEB;
	alternate-background-color: #F2F2F2;
	selection-background-color: #FFFFFF;
}

#PluginListDialog #toolBox::tab {
	background-color: #EFEFEF;
	font-size: 11px;
	border-color: #E0E0E0;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
}

#PluginListDialog #toolBox QCheckBox {
	margin: 0px;
	padding: 0px;
}

