[project]
name = "d_back"
description = "WebSocket server project."
authors = [
    { name = "Tin Nguyen", email = "nguyen.ngoctindaniel@gmail.com" }
]
readme = "README.md"
dynamic = ["version", "requires-python", "dependencies", "optional-dependencies"]


[project.scripts]
d_back = "d_back.server:main_sync"

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.bumpversion]
current_version = "0.0.8"
commit = true
tag = true
tag_name = "v{new_version}"

[[tool.bumpversion.files]]
filename = "setup.cfg"
search = "version = {current_version}"
replace = "version = {new_version}"