@font-face {
    font-family: "FontAwesome";
    src: url("/static2/fonts/fontawesome-regular.ttf");
    font-display: swap;
}

:root {
    --pico-spacing: 8px;
    --negative-pico-spacing: -8px;
}

* {
    font-family: monospace;
    font-size: 16px;
}

p {
    font-style: italic;
}

main > details > summary {
    font-weight: bold;
    font-size: 18px;
    margin-top: 18px;
}

main > details > details > summary {
    font-weight: normal;
    font-weight: bold;
}

details > details {
    margin-left: 15px;
}

details > p {
    margin-left: 15px;
    color: var(--pico-accordion-open-summary-color);
}

p {
    margin-bottom: var(--pico-spacing);
}

p + p {
    margin-top: var(--negative-pico-spacing);
}

.fa {
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: bold;
}

.parent:hover > .child {
    display: inline;
}

.parent2 > .child {
    display: inline;
}

.child {
    display: none;
}
