[project]
name = "werkbank"
version = "0.1.4a2"
description = " Model Context Protocol for Atomistic Simulations"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastmcp>=2.12.0",
    "flask>=3.1.2",
    "znflow",
    "zntrack>=0.8.9",
]

[project.scripts]
werkbank-mcp = 'werkbank:mcp.run'
werkbank-utils = 'werkbank.project:app'
werkbank = 'werkbank.ui:main'

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
artifacts = ["src/werkbank/static"]
targets.sdist.hooks.custom.path = "src/build-frontend.py"
only-packages = true

[tool.uv.sources]
mlipx = { git = "https://github.com/basf/mlipx" }
plumed-nodes = { path = "../plumed-nodes", editable = true }
ipsuite = { path = "../ipsuite", editable = true }
znflow = { git = "https://github.com/zincware/znflow", rev = "fix-duplicate-edges" }
cp2k-input-tools = { git = "https://github.com/cp2k/cp2k-input-tools.git" }

[dependency-groups]
dev = [
    "pytest>=8.4.1",
    "plumed-nodes",
    "ipsuite",
    "mlipx",
    "mp-api>=0.45.8",
    "rcsb-api>=1.4.0",
    "massband>=0.1.3",
    "cp2k-input-tools",
]

[project.entry-points.'zntrack.nodes']
ipsuite = 'werkbank.nodes:nodes'

[tool.codespell]
ignore-words-list = "basf"
skip = "uv.lock"
