QWidget {
    background-color: #2e2e2e;
    /*border: 1px solid #000000;*/
    color: white;
}

QWidget#apply_cancel_bar {
    background-color: #616161;
    border: 2px solid #000000;
    padding: 0px;
    margin: 0px;
    
}


QMessageBox {
    color: white; 
    font-size: 14px;
}

QScrollArea {
    border: 0px solid #808080;
}

QScrollBar:horizontal {
    background: #616161;
}
QScrollBar:vertical {
    background: #616161;
}

QWidget#label_bar_new {
    background-color: #616161;
}

QWidget#label_bar {
    background-color: #616161;
    border: 2px solid #808080;
    border-bottom: 0px solid #808080;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-right:0px;
    margin-left:0px;
    
}

QWidget#file_bar {
    background-color: #616161;
    border: 2px solid #808080;
    border-left: 0px solid #808080;
    border-bottom: 0px solid #808080;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
}


QListWidget {
    color:#000000;
    background-color: #cccccc;
    
    border: 2px solid #808080;
    border-left: 0px solid #808080;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}


QLabel#label_files {

    background-color: transparent;
    color:#000000;
}

QWidget#file_item {
    background-color: #cccccc;
    border: none;
    border-radius: 4px;
    padding: 2px;
}

QWidget#selected_file_item {
    background-color: #8ba1ff;
}
/*

QWidget#file_item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

QWidget#selected_file_item {
    background-color: #0078d4; 
    border: 2px solid #106ebe; 
    border-radius: 4px;
    padding: 2px;
}

QWidget#selected_file_item QLabel {
    color: white; 
} */

/* Optional: Style the QListWidget itself */
/* QListWidget {
    background-color: #2d2d2d;
    border: none;
    outline: none;
}

QListWidget::item {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 1px 0px;
}

QListWidget::item:selected {
    background-color: transparent;  
} */

QWidget#image_bar {
    background-color: #616161;
    border: 2px solid #808080;
    border-right: 0px solid #808080;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    margin-right:0px;
    
}

QPushButton#setting_button {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    margin-right: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
}

QPushButton#setting_button:hover {
    background-color: #8ba1ff;
}

QPushButton#setting_button:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#setting_button:disabled {
    background-color: #808080;
    color: #a0a0a0;
    border: 1px solid #666666;
}

QPushButton#setting_button:checked {
    background-color: #fcfcfc;
    border: 3px inset #bbb;
}


QBlanckWidget1 {
    max-height: 1px;
    min-width: 25px;
}

QSeparator1 {
    background-color: #cccccc;
    border: 2px inset #808080;
    min-height: 50px;
    max-height: 50px;
    min-width: 1px;
    max-width: 1px;
    padding: 0%;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
}

/* QPushButton {
    border: 1px solid #bbb;
    background-color: #cccccc;
    color: black;
    text-align: left;
    padding-left: 10px;
    min-height: 40px;
    max-height: 40px;
    min-width: 125px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}

QPushButton:hover {
    background-color: #8ba1ff;
}

QPushButton:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton:checked {
    background-color: #728cff;
    border: 3px inset #bbb;
}

QPushButton:disabled {
    background-color: #808080;
    color: #a0a0a0;
    border: 1px solid #666666;
} */

QPushButton#with_parameters {
    border: 1px solid #bbb;
    background-color: #cccccc;
    color: black;
    text-align: left;
    padding-left: 10px;
    min-height: 40px;
    max-height: 40px;
    min-width: 125px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}

QPushButton#with_parameters:hover {
    background-color: #8ba1ff;
}

QPushButton#with_parameters:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#with_parameters:checked {
    background-color: #728cff;
    border: 3px inset #bbb;
}

QPushButton#with_parameters:disabled {
    background-color: #808080;
    color: #a0a0a0;
    border: 1px solid #666666;
} 

QLabel#save_marker {
    min-height: 12px;
    max-height: 12px;
    min-width: 12px;
    max-width: 12px;
    background-color: transparent;
    border: 0px solid transparent;
}

/*QPushButton#save_marker:hover {
    background-color: transparent;
}

QPushButton#save_marker:disabled {
    
} */



QPushButton {
    border: 1px solid #bbb;
    background-color: #cccccc;
    color: black;
    text-align: left;
    padding-left: 10px;
    min-height: 25px;
    max-height: 25px;
    min-width: 125px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QPushButton:hover {
    background-color: #8ba1ff;
}

QPushButton:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton:disabled {
    background-color: #808080;
    color: #a0a0a0;
    border: 1px solid #666666;
}

QPushButton:checked {
    background-color: #fcfcfc;
    border: 3px inset #bbb;
}


QPushButton#without_parameters {
    border: 1px solid #bbb;
    background-color: #cccccc;
    color: black;
    text-align: left;
    padding-left: 10px;
    min-height: 40px;
    max-height: 40px;
    min-width: 125px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QPushButton#without_parameters:hover {
    background-color: #8ba1ff;
}

QPushButton#without_parameters:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#without_parameters:disabled {
    background-color: #808080;
    color: #a0a0a0;
    border: 1px solid #666666;
}

QPushButton#without_parameters:checked {
    background-color: #fcfcfc;
    border: 3px inset #bbb;
}

QPushButton#visibility {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    margin-right: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QPushButton#activation {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 100px;
    max-width: 100px;
    padding: 0px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    margin-right: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}

QPushButton#activation:hover {
    background-color: #8ba1ff;
}

QPushButton#activation:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#activation:checked {
    background-color: #fcfcfc;
    border: 3px inset #969696;
    font-weight: bold;
}

QPushButton#visibility:hover {
    background-color: #8ba1ff;
}

QPushButton#visibility:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#visibility:checked {
    background-color: #fcfcfc;
    border: 3px inset #bbb;
}

QPushButton#color {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 10px;
    max-width: 10px;
    padding: 0px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    margin-left: 0px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}



QPushButton#label_setting {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    margin-left: 0px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QPushButton#label_setting:hover {
    background-color: #8ba1ff;
}

QPushButton#label_setting:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#label_setting:checked {
    background-color: #fcfcfc;
    border: 1px inset #bbb;
}

QPushButton#remove_label {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0%;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
}

QPushButton#remove_label:hover {
    background-color: #8ba1ff;
}

QPushButton#remove_label:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#remove_label:checked {
    background-color: #fcfcfc;
    border: 1px inset #bbb;
}



QPushButton#permanent {
    background-color: #cccccc;
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    padding: 0%;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
QPushButton#permanent:hover {
    background-color: #8ba1ff;
}

QPushButton#permanent:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}

QPushButton#permanent:checked {
    background-color: #728cff;
    border: 3px inset #bbb;
}

QPushButton#permanent:disabled {
    background-color: #808080;
    color: #a0a0a0;
    border: 1px solid #666666;
}

QPushButton#remove_image_button {
    background-color: #cccccc;
    min-height: 10px;
    max-height: 10px;
    min-width: 10px;
    max-width: 10px;
    padding: 0px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
    margin-right: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

QPushButton#remove_image_button:hover {
    background-color: #8ba1ff;
}

QPushButton#remove_image_button:pressed {
    background-color: #fcfcfc;
    border: 1px solid #bbb;
}


QGroupBox {
    background-color: #616161;
    border: 2px solid #808080;
    border-right: 0px solid #808080;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 14pt;
}

QGroupBox::title {
    position: fixed;
    left: 20%;
    bottom: 0;
    top:10;
    margin-left: 5%;
    margin-right: 5%;
}
QDialog {
    background-color: #616161;
    margin:10px;   
}

QLabel {
    background-color: transparent;
    color:white; 
    font-weight: bold;
}

QSlider {
    background-color: transparent;
}

QCheckBox{
    background-color: transparent;
}



ZoomableGraphicsView {
    background-color: #afafaf; 
    border: 3px double #808080;
    margin-bottom: 10px;
}
