/* Default style for narrow screens */
.responsive-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Style for wide screens */
@media (min-width: 1400px) {
    .responsive-container {
        width: calc(100% - (100vw - 1400px)/4);
        height: 100vh;
        margin: 0px auto;
        box-shadow: #c0c0c0 20px 10px 80px;
    }
}

/* Style for wide screens */
@media (min-width: 2500px) {
    .responsive-container {
        width: calc(100% - (100vw - 1950px)/2);
        height: 100vh;
        margin: 0px auto;
        box-shadow: #c0c0c0 20px 10px 80px;
    }
}

/* ===== RESIZE HANDLES ===== */
.resize-handle-horizontal {
    width: 3px;
    padding: 2px;
    height: 100%;
    background-color: rgba(125, 125, 125, 0.15);
    position: relative;
}
.resize-handle-horizontal::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px; /* Extend the grabbable area to the left */
    right: -5px; /* Extend the grabbable area to the right */
    bottom: 0;
    cursor: ew-resize; /* Change cursor to indicate horizontal resizing */
}
.resize-handle-vertical {
    width: 100%;
    height: 3px;
    padding: 2px;
    background-color: rgba(125, 125, 125, 0.15);
    position: relative; 
}
.resize-handle-vertical::before {
    content: "";
    position: absolute;
    top: -5px; /* Extend the grabbable area upwards */
    left: 0;
    right: 0;
    bottom: -5px; /* Extend the grabbable area downwards */
    cursor: ns-resize; /* Change cursor to indicate vertical resizing */
}
.resize-handle-horizontal:hover,.resize-handle-vertical:hover {
    background-color: rgba(125, 125, 125, 0.3);
}

/* ===== SPINNER ===== */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.spinner-spin {
    animation: spin 2s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    text-shadow:
        0 0 5px white,
        0 0 10px white,
        0 0 20px white;
  }
